@quanttrinh:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_15368_eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJhdXRobmQiLCJjdHgiOiJGYWhWNFZwUXdMRmdxRURtckw4NVRNWEZBcDdvaHphWHEyQjBpYmtLTTJFbVpiV2UyNWwtTnZjIiwiZXhwIjoxNzg2MzEyOTU4LCJpYXQiOjE3ODYzMDkzNTgsImlzcyI6ImdpdGh1YiIsImp0aSI6ImNkMDZjMTRlLWY2ZDYtNDkzNy05YmUxLTZiNzhhNGJkOGEzMiIsInZlciI6M30.NtjdoSZrfdD3ToHnWM9XjzI85RgYt0RMxQMrYGx5w7zIj2ctksCxO4IN0otA2Y0eS6iWuCsM7Bhbe4YjTJiOzw
